@import "~variables";

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  -ms-overflow-style: none;
  z-index: -1;
  padding: 0;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(22, 9, 9, 0.11);
  transition: max-height 0.3s ease, opacity 0.3s ease;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  width: 100%;
  @media (min-width: $mobile-width) {
    width: 500px;
    position: absolute;
    top: 0;
  }
  &.visible {
    max-height: 500px;
    opacity: 1;
    overflow: scroll;
    z-index: 101;
  }
  &.modal {
    top: 98px;
    max-height: 470px;
    overflow: hidden;
    @media (min-width: $mobile-width) {
      width: 100%;
    }
    @media (min-width: $laptop-width) {
      width: 100%;
      top: 7px;
    }
    @media (max-width: $half-mobile-width) {
      overflow: scroll;
      max-height: 300px;
    }
    @media (max-width: $mobile-width) {
      top: 233px;
    }
  }
  ul {
    margin: 0;
    padding: 0 40px;
    @media (min-width: $tablet-width) {
      min-width: 200px;
    }
  }
}

.hide {
  display: none;
}

.dropdown-menu-title {
  padding: 20px 40px 0 40px;
  color: #000;
  display: flex;
  & > * {
    flex: 1;
  }
  span {
    flex-basis: 88%;
  }
  img {
    flex-grow: 0;
    margin-left: auto;
  }
}

.dropdown-selected {
  cursor: pointer;
  margin: 0;
  color: #4996ae;
  border-bottom: 3px dashed #4996ae;
  user-select: none;
  transition: all 0.2s linear;
  margin: 0 10px 0 0;
  font-family: $futura;
  font-weight: bold;
  &:focus {
    outline: none;
  }
  font-size: 24px;
  @media (min-width: $mobile-width) {
    font-size: 30px;
  }
  @media (min-width: $tablet-width) {
    font-size: 40px;
  }
}
.dropdown.scroll .dropdown-selected {
  font-size: 18px;
  @media (min-width: $mobile-width) {
    font-size: 30px;
  }
  @media (min-width: $tablet-width) {
    font-size: 40px;
  }
}

.dropdown-option {
  list-style: none;
  cursor: pointer;
  color: $darker-blue;
  padding: 25px 0;
  font-size: 17px;
  border-bottom: 1px solid #eaeaea;
  user-select: none;
  font-weight: 500;
  font-family: $futura;
  &:last-child {
    border-bottom: none;
  }
  &.selected {
    color: $blue;
  }
}

.modal-option {
  color: #1d3155;
  font-size: 40px;
  font-weight: bold;
}

.modal-dropdown-selected {
  border-bottom: 1px solid #eaeaea;
  color: $darker-blue;
  font-size: 64px;
}

.chevron-down {
  right: 8px;
  top: 9px;
  height: 7px;
  @media (min-width: $mobile-width) {
    right: 10px;
    top: 12px;
    height: auto;
  }
  @media (min-width: $tablet-width) {
    top: 19px;
  }
}

.modal-chevron-down {
  top: 30px;
}

.dropdown.scroll {
  @media (min-width: $mobile-width) {
    .chevron-down {
      right: 9px;
      top: 12px;
    }
  }
  @media (min-width: $desktop-width) {
    .chevron-down {
      top: 19px;
    }
  }
}
.modal-dropdown-list {
  position: relative;
  bottom: 75px;
}
