@import "../../../styles/_variables.scss";

.grid-cover {
	transition: opacity .6s ease;
	opacity: 1;
	&.faded {
		opacity: 0;
	}
}

.vehicle-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	button {
		user-select: none;
		width: 100%;
		&:hover {
			z-index: 500;
		}

		@media (min-width: 600px) and (max-width: $tablet-width - 1) {
			width: 50%;
		}
		@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
			width: 31%;
		}
		@media (min-width: $desktop-width) {
			width: 31%;
			margin: 1%;
		}
	}
}
