@import "~variables";

.opener {
	background: none;
	border: none;
	cursor: pointer;
	width: 30px;
	height: 20px;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	padding: 0 4px 4px;
	&:focus {
		outline: none;
	}
	div {
		height: 3px;
		width: 100%;
		background: #fff;
		margin: 4px 0;
	}
	@media (min-width: $tablet-width) {
		display: none;
	}
}

.drop {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.6s cubic-bezier(0.13, 1.1, 1, 0.99);
	@media (min-width: $tablet-width) {
		position: static;
		background: none;
		max-height: none;
	}
}

.active .drop {
	max-height: 260px;
	transition: max-height 0.6s cubic-bezier(0.03, 0.1, 0, 1.12);
}

.menu-sidebar {
	display: inline;
	.opener {
		display: none;
	}
}

.menu-header {
	display: block;
	margin-top: 9px;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
		font-size: 17px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		li {
			padding: 9px 22px;
			a {
				font-family: $body-font;
				color: #fff;
				transition: color 0.3s linear;
				text-decoration: none;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 1.7px;
				&:hover {
					color: $blue;
				}
			}
		}
	}
	@media (min-width: $tablet-width) {
		margin: 20px auto;
		ul {
			flex-direction: row;
		}
	}
	@media (min-width: $desktop-width) {
		margin: 0;
		ul {
			li {
				padding: 2px 22px;
			}
		}
	}
}

.log-out-btn-link{
	@include log-out-btn-link-mix;
	}