@import "~variables";

.tabbed-nav-title {
	font-family: $hanken-sans;
	font-size: 18px;
	color: $darker-blue;
	font-weight: 400;
}

.hide {
	display: none;
}

.tabbed-nav-panel {
	padding: 0 25px;
	& > div {
		display: flex;
		flex-direction: column;
		& > * {
			flex: 1;
		}
	}
}

:global {
	.react-tabs__tab {
		border: none;
		user-select: none;
	}

	.react-tabs__tab:before {
		content: '';
		display: block;
		width: 0;
		transition: width .2s ease-in-out;
	}

	.react-tabs__tab--selected {
		overflow: visible;
	}

	.react-tabs__tab--selected:before {
		opacity: 1;
		content: '';
		display: block;
		height: 3px;
		width: 21px;
		background: #4996AE;
		margin: 0px auto 0px;
		position: absolute;
		bottom: -8px;
		transform: translateX(-50%);
		left: 50%;
	}

	.react-tabs__tab:focus {
		box-shadow: none;
		border: none;
	}

	.react-tabs__tab-list {
		border: none;
	}
}
