@import "~variables";


.content-container {
    height: 462px;
    display: grid;
    flex-direction: column;
    @media (max-width: $mobile-width) {
        height: 100%;
        margin-top: 100px;
    }
}

.heading {
    color: $darker-blue;
    font-family: $futura;
    font-size: 28px;
    font-weight: bold;
    line-height: 31px;
    margin-bottom: 0;
    margin-top: 10px;
    width: 100%;
}

.description {
    color: $darker-blue;
    font-family: $hanken-sans;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding-top: 5px;
    width: 100%;
    font-weight: normal;
}

.icon-circle-wrapper {
    @include icon-circle-wrapper-mix;
}

.continue-button-container {
    width: 50%;
    cursor: pointer;
    @media (max-width: $mobile-width) {
        width: 100%;
    }
}