@import '~variables';

.payment-card-container {
	padding: 6% 0;
	display: grid;
    grid-row-gap: 6%;
    overflow: hidden;
    @media (max-width: $mobile-width) {
        padding: 5% 5%;
    }
}

.payment-title {
    transition: all 0.4s ease;
	color: $darker-blue;
    font-family: $futura;
    font-size: 18px;	
    font-weight: bold;	
    letter-spacing: -0.62px;	
    margin: 0;
    padding: 0 10%;
    @media (max-width: $mobile-width) {
        padding: 0 5%;
    }
}

.text-container {
    display: grid;
    grid-row-gap: 10%;
}

.side-padding {
    padding: 0 10%;
    @media (max-width: $mobile-width) {
        padding: 0 5%;
    } 
}

.add-payment-text {
    font-family: $hanken-sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: $blue;
    margin-left: 9px;
}

.add-payment-container {
    display: flex;
    cursor: pointer;
    &-display{
        visibility: visible;
        opacity: 1;
        transform: translateY(0)
      }
      &-hide{
        visibility: hidden;
        opacity: 0;
        height: 0;
        transform: translateY(200px)
      }
}

.payment-form {
    transition: all 0.4s ease-in;
    margin-top: -40px;
    padding-bottom: 100px;
  &-display{
    visibility: visible;
    opacity: 1;
  }
  &-hide{
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.payment-list {
    transition: all 0.4s ease-out;
    overflow-y: scroll;
    margin-top: -10px;
  &-display{
    visibility: visible;
    opacity: 1;
  }
  &-hide{
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.loader, .loader div {
	width: 60px;
    height: 60px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.update-payment-card-btn {
    width: 50%;
    margin-top: 20px;
    @media (max-width: $mobile-width) {
        width: 100%;
    } 
}

.subscription-card-update-text {
    margin-top: 20px;
    font-family: $hanken-sans;
    color: $green-success;
    font-size: 16px;
    @include message-indicator; 
  }