@import "~variables";

.app-frame {
	background: rgba(0,0,0,0);
}

.app-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 100vh;
	overflow: hidden;
}

.alternate {
	padding: 130px 0 0;
	background: #fff;
	@media (min-width: $tablet-width) {
		padding: 101px 0 0;
	}
	@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
		padding-top: 151px;
	}
}

.content {
	display: flex;
	flex: 1;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	max-width: 100%;
	background: url(https://s3-us-west-2.amazonaws.com/subscriber-ui-assets/images/mobilipattern.png) no-repeat;
	background-size: 450px;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
}

.loader, .loader div {
	width: 60px;
	height: 60px
}
