@import '~variables';

.data-selector {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 10%;
  @media (max-width: $half-mobile-width) {
    padding: 0 5%;
	}
  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    .radio-button {
      display: flex;
      border: 1px solid #B9B9B9;
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    .radio-button-selected {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin: auto;
      background: $blue;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }

    .radio-button.selected {
      border: 1px solid $blue;
    }

    .radio-button.disabled {
      border: 1px solid #8F8F8F;

    }

    .key-text {
      padding-left: 17px;
      font-family: $hanken-sans;
      color: $darker-blue;
      font-size: 16px;
      opacity: 0.8;
    }

    .key-text.disabled {
      color: #8F8F8F;

    }
  }
}

.disabled {
  cursor: auto;
}

.data-selector.selected {
  background: #ECF4F6;
  margin: 0;
}

.value {
  font-weight: bold;
  font-size: 16px;
  font-family: $hanken-sans;
  color: $darker-blue;
}

.value.selected {
  padding-right: 0;
}

.value.disabled {
  color: #8F8F8F;
}

.hide {
  display: none;
}


.radio-icon {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 33px;
  height: 21px;
  left: 722px;
  top: 831px;
  margin-left: 20px;
}

.card-number {
	font-family: $hanken-sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: $darker-blue;
}

.all-cards {
  padding-left: 20px;
  font-family: $hanken-sans;
  color: $darker-blue;
}

.optional-text {
  margin-left: 20px;
  font-family: $hanken-sans;
  color: $darker-blue;
  font-size: 16px;
  opacity: 0.8;
}