@import "../../../styles/_variables.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  cursor: pointer;
  transition: all 0.5s ease;
}

.modal--white,
.modal--gray,
.modal--dark-gray {
  composes: modal
}

.modal--white {
  background: rgba(255, 255, 255, 0.8);
}

.modal--gray {
  background: $blue-overlay
}

.modal--dark-gray {
  background: rgba(41, 41, 41, 0.4);
}

.visible {
  visibility: visible;
  opacity: 1;
  overflow: scroll;
}

.hide {
  visibility: hidden;
  opacity: 0;

}

.no-pointer {
  cursor: auto;
}

.modal-content {
  background-color: white;
  margin: 0 auto;
  max-height: 100%;
  width: 35%;
  box-shadow: 0 20px 40px 0 rgba(116, 39, 39, 0.09);
  transform: translate(0, 75%);
  display: flex;
  flex-direction: column;
  @media (max-width: $half-mobile-width) {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;

  }

  @media (min-width: $half-mobile-width) and (max-width: $mobile-width) {
    width: 100%;
  }

  @media (min-width: $half-mobile-width) and (max-width: $tablet-width) {
    max-width: 60%;
  }
}

.modal-plain {
  transform: translate(0, 62%);
  @media (max-width: $mobile-width) {
    transform: translate(0, 12%);

  }
}


.modal-content.scroll {
  transform: translate(0, 40%);
  @media (max-width: $half-mobile-width) {
    transform: translate(0, 0);
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  margin: 10%;
  height: 100%;
  @media (max-width: $half-mobile-width) {
    margin: 5%;
  }
}

.header {
  height: 50%
}

.header-no-icon {
  height: 35%;
}

.plain-modal-header {
  display: flex;
  padding-bottom: 10px;
  justify-content: flex-end;
  cursor: pointer;
}

.modal-icon {
  box-sizing: border-box;
  height: 68px;
  width: 68px;
  border: 2px solid $darker-blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.modal-title {
  color: $darker-blue;
  font-family: $futura;
  font-size: 28px;
  font-weight: bold;
  line-height: 31px;
  margin-bottom: 0;
  margin-top: 10px;
  width: 100%;
}

.modal-sub-title {
  color: $darker-blue;
  font-family: $hanken-sans;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding-top: 5px;
  width: 100%;
  font-weight: normal;
}
.modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.modal-footer {
  display: block;
  bottom: 64px;
  position: absolute;
  > button {
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (max-width: $half-mobile-width) {
    bottom: 50px;
  }
}

.modal-icon-close{
  height: 15px;
  width: 15px;
}