@import "../../../styles/_variables.scss";

.input-validation-message-label{
   @include input-validation-text;
}


.input-container {
    display: block;
    width: 100%;
    margin-top: 14px;
  }

  .password-strength-label {
    display: flex;
    height: 14px;
    width: 47px;
    color: rgba(29, 49, 85, 0.6);
    font-family: $hanken-sans;
    font-size: 12px;
    line-height: 14px;
  }
  
  .password-weak,
  .password-medium,
  .password-strong {
    height: 14px;
    width: 47px;
    font-family: $hanken-sans;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    padding-left: 5%;
  }
  
  .password-strong {
    color: $green-check;
  }
  
  .password-medium {
    color: $orange;
  }
  
  .password-weak {
    color: $fast-car-red;
  }
  