@import "~variables";


.edit-payment-form {
    display: grid;
    margin-bottom: 50px;
}

.remove-card {
    margin-top: 18px;
    height: 21px;	
    width: 50%;	
    color: $fast-car-red;	
    font-family: $hanken-sans;	
    font-size: 18px;	
    font-weight: 500;	
    letter-spacing: -0.57px;	
    line-height: 21px;
    cursor: pointer;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin: 48px 0;
    height: 32px;	
    font-family: $futura;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 23px;	
    text-align: center;
    cursor: pointer;
    @media (max-width: $mobile-width) {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 0;
    }
}

.payment-card-holder {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 80px;
    margin-bottom: 20px;
}

.payment-card-icon {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    left: 722px;
    top: 831px;
    margin: 0 28px 0 0;
    height: 50px;	
    width: 77px;
}

.payment-card-number {
    font-family: $futura;
    font-style: normal;
    color: $darker-blue;
    font-size: 20px;
    height: 31px;	
    width: 120px;	
    font-weight: bold;	
    letter-spacing: -0.44px;	
    line-height: 31px;
}

.state-code-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    @media (max-width: $mobile-width) {
        grid-template-columns: 1fr;
    }
}

.input-validation-message-label {
    @include input-validation-text;
    font-size: 15px;
    width: 100%;
 }