@import "~variables";

.location-select {
	display: inline-block;
	width: 100%;
	position: fixed;
	left: 0;
	top: 94px;
	z-index: 101;
	opacity: 1;
	transition: background .2s linear, padding .3s linear;
	padding: 40px;
	@media (min-width: $tablet-width) and (max-width: $desktop-width) {
		padding: 30px;
		margin-top: 80px;
	}
	@media (min-width: $desktop-width) {
		padding: 80px 40px;
	}
	.location-select-centered {
		width: 100%;
    max-width: 1264px;
    margin: 0 auto;
		align-items: baseline;
		@media (min-width: $mobile-width) {
			flex-direction: column;
			margin: 0 auto;
		}
	}
	&.scroll {
		.location-select-centered {
			display: flex;
			flex-direction: row;
		}
		@media (min-width: $tablet-width) and (max-width: $desktop-width) {
			margin-top: 58px;
		}
	}
	h1 {
		font-family: $futura;
		margin: 0 5px 2px 0;
		color: $darker-blue;
		transition: all .2s linear;
		font-size: 24px;
		line-height: .9;
		@media (min-width: $mobile-width) {
			margin: 0 5px 0 0;
			font-size: 30px;
		}
		@media (min-width: $tablet-width) {
			font-size: 40px;
		}
	}
	&.scroll {
		background: #fff;
		padding: 20px 40px;
		flex-direction: row;
		@media (min-width: $mobile-width) {
			padding: 30px 40px;
		}
		h1 {
			float: left;
			font-family: $futura;
			font-size: 18px;
			@media (min-width: $mobile-width) {
				font-size: 30px;
			}
			@media (min-width: $tablet-width) {
				font-size: 40px;
			}
		}
	}
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
