@import '~variables';

.title {
  color: $darker-blue;
  font-family: $futura;
  font-size: 28px;
  font-weight: bold;
  line-height: 31px;
  margin-bottom: 0;
  margin-top: 10px;
  width: 100%;
}

.sub-title {
  color: $darker-blue;
  font-family: $hanken-sans;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding-top: 5px;
  width: 100%;
  font-weight: normal;
}

.subscription-end-date {
  border-bottom: 1px solid rgba(29, 49, 85, 0.2);
  p:first-child {
    font-family: $futura;
    font-size: 18px;
    color: $darker-blue;
    font-weight: 500;
    margin-bottom: 0;
  }

  p:last-child {
    font-family: $hanken-sans;
    font-size: 16px;
    color: $darker-blue;
    margin-top: 3px;
    padding-bottom: 15px;
  }
  
}
.drop-off-date-title {
  font-family: $futura;
  font-size: 18px;
  color: $darker-blue;
  font-weight: 500;
  padding-top: 10px;
}

.date-selection-ctn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  .date-picker-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      padding-right: 15px;
    }

    @media (max-width: $mobile-width) {
      div {
        width: 100%;
      }
    }
  }

  .time-drop-down-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      padding-right: 15px;
    }

    @media (max-width: $mobile-width) {
      div {
        width: 100%;
      }
    }
  }

  .selected-option {
    border-bottom: 1px solid rgba(29, 49, 85, 0.2);
    color: $darker-blue;
    font-size: 18px !important;
    padding-bottom: 10px;
    padding-top: 17px;
    color: black;
    font-weight: 400;
    font-family: $hanken-sans;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile-width) {
      height: 50px;
      margin: 0;
    }
  }

  .text {
    font-size: 16px;
  }

  .header {
    font-size: 16px;
    color: #7B8DA8;
    font-weight: 500;
  }
}
.modal-footer {
  padding-top: 10%;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  width: 300px;
}

.modal {
  @media (min-width: $mobile-width) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 40%;
  }
}
